*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
body{
    background: #333;
}
.container{
    background: #222;
    width: 80vw;
    
    margin: auto;
    border-radius: 20px;
    display:grid;
    grid-template-columns: 5fr 3fr;
    padding: 10px;
    
}
.img
{
    display:flex;
    flex-direction: column;
    gap: 50px;
    justify-content:center ;
    align-items: center;
}
.img img,canvas
{
    max-width: 45vw;
    max-height: 60vh; 
    
   
}
.upload input
{
    display: none;
   
}
.upload label
{
    color: #fff;
    padding: 8px 20px;
    border: 2px #fff dashed;
    cursor: pointer; 
    margin: 10px ;  
}
.filter ul,.filter li{
    display: flex;
    flex-direction: column;
    gap: 25px;
    direction: rtl;
}
.filter ul li label {
    color: #fff;
}
.filter ul li:last-child{
   flex-direction: row;
   justify-content: space-around;
}
.filter ul li a, span{
    color: #fff;
    padding: 10px 20px;
    background-color:rgb(86, 73, 234);
    cursor: pointer;
}
@media screen and (max-width: 650px){
.container{
    grid-template-columns: 1fr;
    gap: 50px;
}
  .img img , canvas{
    max-width :80vw; ;
  }
}
    